@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import "swiper/css";

html {
  touch-action: none;
}

body {
  background-color: rgb(25, 25, 25);
  color: #fff;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

[id^="card-"] {
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease;
}
.attacking {
  z-index: 10 !important;
}

.attacked {
  z-index: 5 !important;
}

@keyframes damagePopup {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes floatZ {
  0% {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 0; /* Буквы начинают как прозрачные */
  }
  25% {
    opacity: 0.5; /* Плавно становятся видимыми */
  }
  50% {
    opacity: 1; /* Достигают полной видимости */
  }
  75% {
    opacity: 0.8; /* Слегка теряют прозрачность */
  }
  100% {
    transform: translate(-50%, -50%) translateY(-50px); /* Поднимаются вверх */
    opacity: 0; /* Исчезают в конце */
  }
}
